.blackGold { background-color: black !important; }

.blackGold #header{
    color: gold;
}

.blackGold #footer {
    color : gray;
}

.blackGold a {
    color: gold;
    text-decoration: none;
} 

.blackGold a:hover {
    color: gold;
    text-decoration: none;
} 

.blackGold a:visited {
    color: gold;
    text-decoration: none;
}

.blackGold .gameListElement {
    border-color: gray;
    background-color: rgba(128,128,128,0.8);
    color: white;
}

.blackGold .gameListElement.gameSelected {
    border-color: gray;
    background-color: rgba(255,215,0,0.8);
    color: black;
}

.blackGold .serverList {
    border-color: gray;
    background-color: rgba(0,0,0,0.2);
}

.blackGold .gameTitle {
    color: gold;
    background-color: rgba(0,0,0,0.2);
}

.blackGold #CSContent {
    background: black url('../../images/csbanner.jpg') no-repeat top left;
}

.blackGold .csTopRow {
    background-color : rgba(255,215,0,0.8);
    color : black;
}

.blackGold .csRows {
    background-color : rgba(170,149,0,0.8);
    color : black;
}

.blackGold .csPlayersTable {
    border: 1px solid #aa9500;
}

.blackGold .csPlayerRow {
    border: 1px solid #aa9500;
    color: white;
}
.blackGold .csPlayerRow.csRows {
    color:black !important;
}

.blackGold .csPlayerRow.csRows td{
    border:1px solid black;
}

.blackGold .csPlayerRow td {
    border: 1px solid #aa9500;
}

