.blackGold {
    background-color: black;
}

.blackGold a {
    color: gold;
    text-decoration: none;
} 

.blackGold a:hover {
    color: gold;
    text-decoration: none;
} 

.blackGold a:visited {
    color: gold;
    text-decoration: none;
}

.blackGold .mainHeader {
    color: grey;
}

.blackGold .gameListElement {
    border-color: grey;
    background-color: #111;
    color: white;
}

.blackGold .gameListElement.gameSelected {
    border-color: grey;
    background-color: gold;
    color: black;
}

.blackGold .serverList {
    border-color: gray;
}

.blackGold .mainFooter {
    color : grey;
}

